.app {
  max-width: 900px;
  display: flex;
  justify-content: center;
  align-items: stretch;

  .side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .disableTree {
    cursor: not-allowed;
  }
}
